body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(152, 40%, 58%, 1);
}

.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.average-sans-regular {
    font-family: "Average Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.titulo {
    text-align: center;
    margin-bottom: 20px;
}

.icon {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-control {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid hsla(152, 40%, 58%, 1);
    border-radius: 4px;
}

.btn {
    padding: 10px;
    background-color: hsla(152, 60%, 58%, 1);
    color: hsla(0, 0%, 0%, 1);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: hsla(152, 58%, 47%, 1)
}
